body {
    background-color: whitesmoke;
    color: black;
    }

footer{ 
    background-color:  black;
    color: white;  
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center; 
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

#container {
    display: flex;
  }

.cartao{
margin: 1rem 1rem;
background-color: rgb(211, 207, 206);
height:20 rem;
flex-grow: 1;
flex-basis: calc(33%- 6rem);

.cartao__conteudo {
    text_aling: center;
    background-color: rgb(48, 82, 87);
    height: 100%;
}
.cartao__conteudo h3 {
    background-color: rgb(153, 111, 60);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}

.cartao__conteudo p{
    text-align: center;
}