body {
    background-color: rgba(64, 31, 233, 0.638);
    }

footer{ 
    background-color:  rgba(21, 170, 170, 0.823);
    color:rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center; 
    font-size: 0.9rem;